/* Estilos generales */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f4f8;
    color: #343a40;
    margin: 0;
    padding: 0;
}
.header-container {
    position: relative; /* Esto permite que el botón "X" se posicione dentro del contenedor */
    padding: 10px;
    text-align: center;
}

/* Botón de cerrar (X) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

.close-button:hover {
    color: #0056b3;
}

/* Estilos del formulario */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}
/* Botón de cerrar (X) */
.close-button-container {
    position: absolute;
    top: 20px;
    right: 20px;
}

.close-button {
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #007bff;
    transition: color 0.3s ease-in-out;
}

.close-button:hover {
    color: #0056b3;
}
h1, p {
    color: #444;
    margin-bottom: 20px;
}

h4 {
    color: #007bff;
    font-size: 20px;
    margin-bottom: 15px;
}

/* Estilos del formulario */
.form-label {
    font-weight: bold;
    color: #495057;
}

.form-control {
    border-radius: 0.5rem;
    border: 2px solid #ced4da;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 12px 25px;
    font-size: 18px;
    border-radius: 0.5rem;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 8px 15px rgba(0, 123, 255, 0.2);
}

.alert-success {
    font-size: 18px;
    border-radius: 0.5rem;
}

/* Estilos adicionales */
.row {
    margin-bottom: 20px;
}

#mensaje-exito {
    margin-top: 30px;
    padding: 15px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    color: #155724;
    font-weight: bold;
    border-radius: 0.5rem;
}

.text-center {
    text-align: center;
}

.container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #007bff;
}

/* Tarjetas de crédito */
.input-group-text {
    background-color: #f8f9fa;
    border: 2px solid #ced4da;
    border-left: none;
    border-radius: 0.5rem;
    color: #495057;
}

.input-group .form-control {
    border-right: none;
}

.input-group .input-group-text i {
    font-size: 1.2rem;
}


/* Responsive */
@media (max-width: 768px) {
    .container {
        padding: 20px;
    }

    .btn-primary {
        width: 100%;
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }
}
